body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;

}
.orange{
    color:goldenrod;
}
.flexibol{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 60%;}
.hire-button{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5%;
    color:white;
    font-weight: 700;
    text-decoration: none;
 
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.box{
    box-shadow: 10px 10px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 5px;

}
#pro{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#nubro{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
 
}
footer{
    text-align: center;
}

