body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orange{
    color:goldenrod;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 60%;}
.hire-button{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5%;
    color:white;
    font-weight: 700;
    text-decoration: none;
 
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

